Package: synclair
Version: 1.0.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 184320
Maintainer: Mario Lubenka
Description: Update your status on connected services simultaneously
